<app-pagination [filterByPlaceholder]="filterByPlaceholder"
                [totalItems]="total"
                [pageSize]="pageSize"
                (pageEvent)="pageChangeEvent($event)"
                (filterBy)="filterByEvent($event)"
                class="lodgments-container">
  <slot-header>
    <app-header-bar [justifyContent]="justifyContentHeader">
      <button mat-raised-button (click)="createLodgment()" class="success" [textContent]="addLodgmentLabel"></button>
      <button mat-raised-button (click)="toggleLodgment()" color="primary" [disabled]="optionsDisabled" [textContent]="toggleLodgmentLabel"></button>
      <button mat-raised-button (click)="confirmDelete()" class="danger" [disabled]="optionsDisabled" [textContent]="deleteLodgmentLabel"></button>
    </app-header-bar>
  </slot-header>
  <slot-content>
    <table mat-table matSort [dataSource]="lodgments" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell mat-sort-header *matHeaderCellDef (click)="sortBy()"> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
          (click)="selection.toggle(row)"
          [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
    </table>
  </slot-content>
</app-pagination>
